@tailwind base;
@tailwind components;
@tailwind utilities;

.star-item {
    display: inline-block;
    margin-top: -4px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* height: 5px; */
    height: 1.5rem;
    width: 1.5rem;
    /* top: 50%; */
    margin-top: -6px;
    background-color: white;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
    transition: all 0.2s;
}

.table-name td {
    font-size: 14px;
    padding: 10px;
    color: #333;
}
.table-name td:first-child {
    width: 25%;
}

.table-name tr {
    /* padding: 10px; */
    position: relative;
}

input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0 0 4px 1px rgb(15, 82, 163);
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    /* height: 5px; */
    background-color: transparent;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    pointer-events: auto;
    transition: all 0.2s;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active {
    box-shadow: 0 0 6px 2px rgb(15, 82, 163);
}
